@media screen and (max-width:320px){
    .banner_title h2{
        
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 20px;
    }
    .banner_img img{
        width: 150px;
        display: block;
    }
}

@media (min-width:320px) and (max-width:375px){
    .banner_title h2{
        
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 20px;
    }
    .banner_img img{
        width: 230px;
        display: block;
    }
}

@media (min-width:375px) and (max-width:425px){
    .banner_title h2{
        
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 20px;
    }
    .banner_img img{
        width: 280px;
        display: block;
    }
}

