@font-face {
    font-family:quieres;
    src: url(Letra/DinoTopia.ttf);
}
*{
    background:#000;
}

#quieres{
    font-family:quieres;
    font: 70px;
    margin: 35px;

}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: none;
    font-family:consolas;
}
