@media screen and (max-width:320px){
    .hero__img{
        width: 1000px;
        height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 15;
    } 
    .about__picture{
    
        width: 900px;
        text-align: center;
    }
    .v{
    
        width: 1005%;
        position: relative;
        top: 6500px;
    }
    .footer__icon{
        width: 15000%;
    }
    .about__paragraph{
        margin: 15px 0;
        line-height: 1.8;
        font-weight: 300;
        font-size: 20px;
    }
}
@media (min-width:320px) and (max-width:375px){
    .hero__img{
        width: 1000px;
        height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 15;
    } 
    .about__picture{
    
        width: 900px;
        text-align: center;
    }
    .v{
    
        width: 1005%;
        position: relative;
        top: 6500px;
    }
    .footer__icon{
        width: 15000%;
    }
    .about__paragraph{
        margin: 15px 0;
        line-height: 1.8;
        font-weight: 300;
        font-size: 20px;
    }
}
@media (min-width:375px) and (max-width:376px){
    .hero__img{
        width: 20%;
    } 
    .about__picture{
    
        width: 900px;
        text-align: center;
    }
    .v{
    
        width: 105%;
        position: relative;
        top: 650px;
    }
    .footer__icon{
        width: 1500%;
    }
    .about__paragraph{
        margin: 15px 0;
        line-height: 1.8;
        font-weight: 300;
        font-size: 20px;
    }
}